.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}
.cont{
    width: 45%;
}
.inputtext{
    display: flex;
    width: 15rem ;
}
.inputs{
    width:100%;
    background-color: #282c34;
    padding: 0.35rem 1rem;
    border: none ;
    border-radius: 0.1rem;
}
.flowcont{
    display: flex;
    gap: 20px;
    width: 32%;
}
.flow{
    
}